<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>

    <%= yield %>

    <form id ="newPost" action="/feed" method="post">
      <textarea id = "contentArea" autofocus name="content" rows="8" cols="80" placeholder="What's on your noggin'?"></textarea>
      <!-- <input id = "contentArea" type="text" name='content' placeholder = "What's on your noggin'?" onkeyup="enable(this)"> -->
      <input id = "contentSubmit" type="submit" name="contentSubmit" value="Post" >
    </form>

    <% @posts.reverse.each do |p| %>
    <% @user = User.find_by(id: p.user_id) %>
    <div class="posts">
      <a href = "/profile/<%=@user.id%>"><h3><%=@user.first_name%> <%= @user.last_name%></h3></a>
      <p><%=p.content %></p>
      <p><%=p.created_at%></p>
      <br>

    </div>
    <% end %>

    <div id = "count"></div>



<!--
<style media="screen">
  #contentArea {
    padding:2%;

  }
</style> -->

<style media="screen">
  body {
    text-align: center;
  }
  #newPost{
    margin-bottom: 4%

  }

</style>

    <script>
      function enable(contentArea){
        var contentSubmit = document.getElementById('contentSubmit');
         if (contentArea.value != '') {
             contentSubmit.disabled = false;
         }
         else {
             contentSubmit.disabled = true;
         }
    </script>
  </body>
</html>
