<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="main.css">
  </head>
  <body>

<!-- nav bar -->
    <%= yield %>

    <h1>This is <%= @user.first_name %><% if @user.first_name[-1] =='s'%>'<%else%>'s<%end%> profile</h1>
    <h3><%= @user.email %></h3>
    <h3><%= @user.birthday %></h3>

    <% if session['user_id'] == @user.id %>
    <form class="" action="/profile/<%= @user.id %>" method="post">
      <input type="hidden" name="_method" value="delete"/>

      <input id = "deleteBtn" type="submit" name="deleteBtn" value = "Delete Account"/>
    </form>
    <% else %>
    <form></form>
    <% end %>


<!-- ============================================== -->
<% @posts = Post.all.where(user_id: @user.id)%>
    <h3> Posts: <%=@posts.count%></h3>
    <% @posts.limit(20).reverse.each do |p| %>
    <div class="posts">
      <a href = "/profile/<%=@user.id%>"><h3><%=@user.first_name%> <%= @user.last_name%></h3></a>
      <p><%=p.content %></p>
      <p><%=p.created_at%></p>
    </div>

    <% end %>




</body>
</html>
