<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/profile.css">
  </head>
  <body>

<!-- nav bar -->
    <%= yield %>

    <div class="user-info">
    <h1>This is <%= @user.first_name %><% if @user.first_name[-1] =='s'%>'<%else%>'s<%end%> profile</h1>
    <h3><%= @user.email %></h3>
    <h3><%= @user.birthday %></h3>
    <h3> Posts: <%=@user.posts.count%></h3>
  </div>



<!-- ============================================== -->

    <% @user.posts.order(created_at: :desc).limit(20).each do |p| %>
    <div class="posts">
      <a href = "/profile/<%=@user.id%>"><h3><%=@user.first_name%> <%= @user.last_name%></h3></a>

      <form id="editForm" action="/profile/<%= @user.id %>" method="post">
        <p id ="post-content-<%= p.id %>"> <%= p.content %></p>
        <%session["posts-#{p.id}"] = p.id %>
      </form>
      <p id = "post-time"><%=p.created_at%></p>
      <button id ="editPosts">Edit </button>
      <br>

    <% end %>
  </div>

    <% if session[:user_id] == @user.id && session[:active] == @user.active %>
    <form class="" action="/profile/<%= @user.id %>" method="post">
        <input type="hidden" name="_method" value="delete"/>

        <input id = "deleteBtn" type="submit" name="deleteBtn" value = "Deactivate Account"/>
      </form>
    <% else %>
    <!-- <form></form> -->
    <% end %>
    <style media="screen">

    </style>

<script src = "/main.js">

</script>
</body>
</html>
